name: CI

on:
    pull_request:
      types:
        - opened
        - synchronize

permissions:
  contents: read

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: ${{ github.ref != 'refs/heads/master' }}

env:
    ruby: '3.3.1'

jobs:
    test:
        name: Test on ${{ matrix.platform.os }} using Xcode ${{ matrix.xcode }}
        runs-on: macos-26

        env:
            xcodeproj: Auth0UIComponents.xcodeproj

        strategy:
          matrix:
            platform: 
              - { os: iOS, scheme: Auth0UIComponents.iOS }
              - { os: macOS, scheme: Auth0UIComponents.macOS }
              - { os: visionOS, scheme: Auth0UIComponents.visionOS }
            xcode:
              - '26.0'

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Set up environment
              uses: ./.github/actions/setup
              with:
                ruby: ${{ env.ruby }}
                xcode: ${{ matrix.xcode }}

            - name: Run tests
              uses: ./.github/actions/test
              with:
                xcode: ${{ matrix.xcode }}
                scheme: ${{ matrix.platform.scheme }}
                platform: ${{ matrix.platform.os }}

            - name: Convert coverage report
              if: ${{ matrix.platform.os == 'iOS' }}
              run: bundle exec slather coverage -x --scheme ${{ matrix.platform.scheme }} ${{ env.xcodeproj }}

            - name: Upload coverage report
              if: ${{ matrix.platform.os == 'iOS' }}
              uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # pin@5.5.2
              with:
                token: ${{ secrets.CODECOV_TOKEN }}

    test-package:
        name: Test Swift package using Xcode ${{ matrix.xcode }}
        runs-on: macos-26

        strategy:
          matrix:
            xcode: 
              - '26.0'

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Set up environment
              uses: ./.github/actions/setup
              with:
                ruby: ${{ env.ruby }}
                xcode: ${{ matrix.xcode }}

            - name: Run tests
              run: swift test --no-parallel

    pod-lint:
        name: Lint podspec using Xcode ${{ matrix.xcode }}
        runs-on: macos-26-xlarge

        strategy:
          matrix:
            xcode: 
              - '26.0'

        steps:
            - name: Checkout
              uses: actions/checkout@v5

            - name: Set up environment
              uses: ./.github/actions/setup
              with:
                ruby: ${{ env.ruby }}
                xcode: ${{ matrix.xcode }}

            - name: Run pod lib lint
              run: bundle exec pod lib lint --allow-warnings --fail-fast

    swiftlint:
        name: Lint code with SwiftLint
        runs-on: macos-26

        steps:
            - name: Checkout
              uses: actions/checkout@v5
              
            - name: Install SwiftLint
              run: brew install swiftlint

            - name: Run SwiftLint
              run: swiftlint lint --reporter github-actions-logging
